/* Default Styling & Misc. queries */


/* TODO: remove !important usages, also make athletes individual results links maybe, and also maybe do the lightbox thing for them, and also style the lightbox for the gallery stuff, also fix nav stuff for a desktop view, also maybe make the collapsible headers openable via keyboard? not really sure */

:root {
    --h2-font-size: 24px;
    --h3-font-size: 16px;
    --text-font-size: 13px;
    --line-height: 1.5;
    --sticky-header-vert-padding: calc(var(--h2-font-size) * 0.001);
    --text-highlight-color: rgb(36, 125, 193);
    --alt-highlight-color: rgb(93, 181, 249);
    --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font-family: 
    --alternate-font-family: Arial, Helvetica, sans-serif;
    --body-background-color: #ffffff;
    --contrasting-background-color: #000000;
    --header-footer-background-color: rgb(166, 189, 162);
}




@keyframes slide-in-left {
    from {
        transform: translateX(-100%); /* Start off-screen to the LEFT */
        opacity: 0;                   /* Start invisible */
    }
    to {
        transform: translateX(0);     /* End at original position */
        opacity: 1;                   /* Fully visible */
    }
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%); /* Start off-screen to the RIGHT */
        opacity: 0;                   /* Start invisible */
    }
    to {
        transform: translateX(0);     /* End at original position */
        opacity: 1;                   /* Fully visible */
    }
}

@keyframes slide-in-up {
    from {
        transform: translateY(-100%); /* Start off-screen UP */
        opacity: 0;                   /* Start invisible */
    }
    to {
        transform: translateY(0);     /* End at original position */
        opacity: 1;                   /* Fully visible */
    }
}



body {
    background-color: var(--body-background-color) !important;
    line-height: var(--line-height);
    font-family: var(--font-family);
    font-family:'MS Sans Serif', 'Geneva', sans-serif;
}

/* ~~~~~~~~~~~~~~ HOME ~~~~~~~~~~~~~~ */
.homepage-banner {
    display: block;
    animation: slide-in-left 0.75s ease forwards;
    margin: 1.5em 0.2em;
}

.meets-heading h1 {
    text-transform: uppercase;
    animation: slide-in-right 0.75s ease forwards;
    padding: 1em 0;
    color: white;
    font-size: 30px;
}

.meets-nav ul {
    margin: 0 4px;
}

.meets-nav li {
    margin: 4px 0;
    text-align: center;
}

.meets-nav > li > a {
    color: var(--contrasting-background-color);
    font-weight: bold;
    text-transform:capitalize;
    border: 2px solid var(--header-footer-background-color);
}

.meets-nav a:active, .meets-nav a:focus {
    text-transform: uppercase;
}   

.meets-nav > li:nth-child(odd){
    animation: slide-in-left 0.75s ease forwards;
}

.meets-nav > li:nth-child(even) {
    animation: slide-in-right 0.75s ease forwards;
}



/* ~~~~~~~~~~~~~~ NAV ~~~~~~~~~~~~~~ */

/* hide Skip To Main Content by default */
body > a.skip {
    position: absolute;
    background-color: rgb(250, 235, 215);
    color:black;
    top: -100vh;
}

/* show Skip To Main Content when tabbed onto */
body > a.skip:focus {
    position: relative;
    top: 0vh;
    /* center */
    display: block;
    margin:auto;
    text-align: center;
    /* style background */
    background-color: rgb(250, 235, 215);
    color:black;
    text-decoration-thickness: 0.1em;
    text-decoration-color: rgb(93, 181, 249);
}

nav.meet-info-nav {
    background-color: var(--header-footer-background-color); 
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

nav.meet-info-nav > ul > li {
    /* background-color: rgba(255, 255, 255, 0.55); */
    margin: 4px 4px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--alternate-font-family);
}

nav.meet-info-nav > ul > li > a {
    background-color: rgba(255, 255, 255, 0.55);
    padding: 10px 4px;
    text-transform: uppercase;
    font-family: var(--alternate-font-family);
    border-color: transparent;
}

nav li {
    justify-content: center;
    width: 95vw;
}

nav a {
    display:inline-block;
    color: var(--contrasting-background-color);
    padding: 10px 0px;
    width: 90vw;
    text-align: center;
    justify-content: center;
}


nav.meet-info-nav > ul > li:active {
    background-color: var(--body-background-color);
}


/* ~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~ */


/* date of the meet */
header h2:first-of-type {
    background-color: rgb(58, 92, 63);
    color:aliceblue;
    text-align: right;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    font-weight: normal;
}

body > header > h1 > a {
    color: white;
}

header {
    margin-bottom: 1em;
}

h1 {
    background-color: rgb(58, 92, 63);
    font-size: 2.5em;
    text-align: center;
    padding: 15px 10px;
    line-height: 1.2; 
    font-family: 'Arial', sans-serif;
}

body > header > h1 > a:focus {
    /* always using light highlight since theres always a dark background */
    color: rgb(93, 181, 249);
}

/* ~~~~~~~~~~~~~~ SUBHEADINGS ~~~~~~~~~~~~~~ */

h2 {
    font-size: var(--h2-font-size);
    font-family: var(--font-family);
}

/* sticky headers */
section h2:first-of-type {
    position: sticky;
    top: 0;
    display:block;
    background-color:rgb(217, 230, 223);
    color:black;
    background-color: rgb(47, 79, 61);
    color:white;
    padding: calc(var(--h2-font-size) * 0.001) 0%;
    text-align: center;
    z-index: 4;
    text-transform: capitalize;
}

/* ~~~~~~~~~~~~~~ SUMMARY ~~~~~~~~~~~~~~ */

#summary {
    margin-bottom: 1em;
}

#summary p {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 0.5em;
    text-indent: 5%;
    font-size: var(--text-font-size);
    color: var(--contrasting-background-color)
}

#summary span {
    font-weight:bold;
}

#summary .athlete {
    color: var(--contrasting-background-color);
}

#summary a:focus {
    span {
        color: var(--text-highlight-color);
    }
}

/* ~~~~~~~~~~~~~~ TEAM RESULTS ~~~~~~~~~~~~~~ */


/* sticky table headers */
th {
    position: sticky;
    top: calc(var(--h2-font-size) * var(--line-height) + calc(var(--sticky-header-vert-padding)));
    
    background-color: rgb(100, 100, 100);
    color: rgb(239, 239, 239);
    text-transform:uppercase;
    z-index: 3;
    font-size: var(--h3-font-size);
    font-family: var(--alternate-font-family);
    /* border-top: 2px solid white; */
}

th:first-of-type {
    padding-left: calc(var(--text-font-size) * 0.01);
    overflow: visible;
}

td {
    font-size: var(--text-font-size);
    font-family: var(--font-family);
    color: var(--contrasting-background-color);
    vertical-align: middle;
}

td:last-of-type, td:first-of-type {
    text-align: right;
}

td:last-of-type {
    padding-right: 10%;
}

td:first-of-type {
    padding-right: 10%;
}

td:nth-of-type(2n) {
    padding-left: 15%;
}

/* scroll-friendly table */
table {
    overflow-x: auto;
    width:100%;
    background-color: var(--body-background-color);
    border-spacing:0px;
    margin-top: 2vh;
    border-bottom: 2px solid var(--header-footer-background-color);
}

/* ~~~~~~~~~~~~~~ INDIVIDUAL RESULTS ~~~~~~~~~~~~~~ */

#individual-results {
    background-color: rgb(47, 79, 61);
    display: grid;
}

#sort-options {
    border-radius: 4%;
    cursor:pointer;
}

select {
    border-style: solid;
    border-width: 2.5px;
    border-color: var(--contrasting-background-color);
    background-color: var(--body-background-color);
    color: var(--contrasting-background-color);
    margin: 1.5% auto;
    text-align: center;
}

select:focus {
    border-color: rgb(93, 181, 249);
}

.athlete {
    background-color: var(--body-background-color);
}

#individual-results > .athlete:first-of-type {
    padding-top: 10px;
}

/* sticky athlete names */
.athlete button.toggle-athlete {
    width:100%;
    display:flex;
    position: sticky;
    top: calc(var(--h2-font-size) * var(--line-height));
    font-style: italic;
    cursor:pointer;
    height: 2.5em;
    align-items: center;
    color:var(--contrasting-background-color);
    z-index: 3;
    text-transform: uppercase;
    font-style: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: var(--h3-font-size);
    margin: 2px 0;
    border: 2px solid var(--header-footer-background-color);
}

/* highlight border of the athlete name and the icon color when actively being clicked on */
body #individual-results .athlete button.toggle-athlete:active {
    border-color:var(--alt-highlight-color);
    i {
        color: var(--alt-highlight-color);
    }
}



#individual-results i {
    color: var(--contrasting-background-color);
    display: inline-block;
    padding: 2%;
    padding-right: 10%;
}


.athlete dl  {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-items: center;
    width: 100%;
}

.athlete dd, .athlete dt {
    font-size: 100%;
}

.athlete dl dt {
    grid-row: 1 / 1;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(100, 100, 100);
    width: 100%;
    color: rgb(239, 239, 239);
    font-weight: bold;
    padding-top: 0.25em;
}

.athlete dl dd {
    grid-row: 2 / 2;
    border-width: 0.5em;
    width: 100%;
    border-color: rgb(100, 100, 100);
    border-top-width: 0.25em;
    color: var(--contrasting-background-color);
    border-style: solid;
    text-align: center;
}


img {
    width:100%;
    box-sizing: border-box;
    border: 0.25em solid transparent;
}


.grid a:focus, #gallery a:focus {
    img {
        border-color: var(--text-highlight-color);
    }
}

/* ~~~~~~~~~~~~~~ GALLERY ~~~~~~~~~~~~~~ */

#gallery {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

#gallery h2 {
    grid-column: 1/-1;
}

#gallery a img {
    display: block;
    align-self: center;
}

/* ~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~ */


footer {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto auto;
    background-color:var(--header-footer-background-color);
    color: var(--contrasting-background-color);
    overflow: auto;
    margin-top: 45px;
    padding-top: 20px;
    justify-items: center;
}

footer p, footer address, footer a {
    color: var(--contrasting-background-color) !important;
}

footer p:first-of-type {
    font-weight: bold;
}

footer p:first-of-type, footer address {
    grid-column: 1 / 1;
    padding-left: 10px;
    padding-right: 2.5px;
}

footer a {
    grid-column: 2 / 2;
    padding-left: 2.5px;
    padding-right: 4px;
}

footer a:first-of-type {
    grid-row: 1 / 1;
}

footer a:last-of-type {
    grid-row: 2 / 2;
    height:fit-content;
}

footer a i {
    margin-left: 6px;
}

footer a:focus {
    font-weight: bold;
    text-transform: uppercase;
}


/* ~~~~~~~~~~~~~~ GENERAL/MISCELLANEOUS ~~~~~~~~~~~~~~ */

/* alternating row colors */
tr:nth-child(even), #individual-results .athlete:nth-child(even) button, .meets-nav > li:nth-child(even) a {
    background-color: rgb(245, 245, 220);
}
tr:nth-child(odd), #individual-results .athlete:nth-child(odd) button, .meets-nav > li:nth-child(odd) a {
    background-color: rgb(197, 221, 197);
}

body a {
    cursor: pointer;
    text-decoration:underline;
    text-decoration-color: var(--alt-highlight-color);
    text-decoration-thickness: 0.1em;
}

body > :not(header) a:not(.meets-nav > li > a):not(.skip):focus {
    color: var(--text-highlight-color);
}

.athlete button.toggle-athlete, .meet-info-nav a {
    cursor: pointer;
    box-sizing: border-box;
    border-width: 0.5vh;
    border-style:solid;
}

#individual-results .athlete button.toggle-athlete:focus, .meet-info-nav a:focus {
    border-color: var(--alt-highlight-color);
}

section, #summary {
    margin-bottom: 25px;
}


@media (prefers-color-scheme: dark) {
    :root {
        --body-background-color: #000000;
        --contrasting-background-color: #ffffff;
        --header-footer-background-color: rgb(39, 59, 44);
        --text-highlight-color: rgb(93, 181, 249);
        --alt-highlight-color: rgb(36, 125, 193);
    }
    nav li:not(.meets-nav > li > a) a {
        background-color: rgba(0, 0, 0, 0.55);
    }
    .meets-nav > li > a, #team-results table {
        border: none;
    }
    #individual-results button {
        border-color: transparent;
    }
    /* alternating row colors */
    tr:nth-child(even), #individual-results .athlete:nth-child(even) button, .meets-nav > li:nth-child(even) a {
        background-color: rgb(45, 45, 13);
    }
    tr:nth-child(odd), #individual-results .athlete:nth-child(odd) button, .meets-nav > li:nth-child(odd) a {
        background-color: rgb(46, 67, 39);
    }
    /* a:not(.meets-nav > li > a):not(.skip):focus {
        color: var(--light-highlight-color) !important;
    }
    #summary a:focus {
        span {
            color: var(--light-highlight-color);
        }
    } */
}

@media screen and (min-width: 600px) {

    /* HOME */

    nav > ul.meets-nav {
        display: grid;
        grid-template-columns: auto auto auto;
       width:100%;
       gap: 8px;
    }
    nav > ul.meets-nav > li {
        justify-content: center;
        width: 100%;
        height:100%;
        padding: 10px 10px;
        margin: 4px 4px;
    }

    nav > ul.meets-nav > li > a {
        align-content: center;
        display: inline-block;
        text-align: center;
        height: 100%;
        width: 100%;
        padding: 0;
    }

    /* NAV */

    nav.meet-info-nav > ul {
        flex-direction: row;
    }

    nav.meet-info-nav > ul > li {
        margin: 0 4px;
        padding: 4px 4px;
    }
    
    nav.meet-info-nav > ul > li > a {
        display: inline-block;
        min-height: 70px;
        height: 100%;
        width: 100%;
        align-content: center;
        text-indent: 0%;
        text-wrap:wrap;
        animation: slide-in-up 0.75s ease forwards;
    }

    /* INDIVIDUAL RESULTS */
   .grid {
        display:grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        background-color: rgb(100, 100, 100);
        max-height: 250px;
    }



    #individual-results > .athlete {
        /* justify-self: center; */
        /* width: 600px; */
        padding: 0 10%;
    }

    .athlete dl dt, .athlete dl dd {
        align-content: center;
        width: inherit;
    }

    .athlete dd {
        background-color: var(--body-background-color);
        width: 10vw;
    }

    /* make individual results grid go column-wise */
     .athlete dl {
        grid-template-columns: auto;
        grid-template-rows: repeat(6, 1fr);
        order: 1;
        height: 100%;
        max-height: 250px;
        width: 60vw;
        justify-self: right;
        border-bottom: 10px solid rgb(100, 100, 100);
    }
    .athlete dl dt, .athlete dl dd {
        grid-column: 2 / 2;
    }
    .athlete dl dt:first-of-type {
        grid-row: 1 / 1;
    }
    .athlete dl dd:first-of-type {
        grid-row: 2 / 2;
    }
    .athlete dl dt:nth-of-type(2) {
        grid-row: 3 / 3;
    }
    .athlete dl dd:nth-of-type(2) {
        grid-row: 4 / 4;
    }
    .athlete dl dt:last-of-type {
        grid-row: 5 / 5;
    }
    .athlete dl dd:last-of-type {
        grid-row: 6 / 6;
    } 
    .athlete .grid a > img {
        order: 0;
        justify-self: center;
        width:auto;
        max-height: 240px;
    }

    .grid a {
        box-sizing: border-box;
        border: 5px solid rgb(100, 100, 100);
    }

    /* GALLERY */

    #gallery {
        /* 4 columns */
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (prefers-reduced-motion: reduced) {
    * {
        animation: none !important;
        transition: none !important;
    }
}