/* Default Styling & Misc. queries */

:root {
    --h2-font-size: 24px;
    --h3-font-size: 16px;
    --text-font-size: 13px;
    --line-height: 1.5;
    --sticky-header-vert-padding: calc(var(--h2-font-size) * 0.001);
    --highlight-color: rgb(93, 181, 249);
    --link-underline-color: rgb(36, 125, 193);
    --font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font-family: 
    --alternate-font-family: Arial, Helvetica, sans-serif;
    --body-background-color: #ffffff;
    --contrasting-background-color: #000000;
    --header-footer-background-color: rgb(166, 189, 162);
}


@media (prefers-color-scheme: dark) {
    :root {
        --body-background-color: #000000;
        --contrasting-background-color: #ffffff;
        --header-footer-background-color: rgb(39, 59, 44); ;
    }
    nav li {
        background-color: rgba(0, 0, 0, 0.55) !important;
    }

}


/* Define the sliding animation */
@keyframes slide-in {
    from {
        transform: translateX(-100%); /* Start off-screen to the left */
        opacity: 0;                   /* Start invisible */
    }
    to {
        transform: translateX(0);     /* End at original position */
        opacity: 1;                   /* Fully visible */
    }
}



body {
    background-color: var(--body-background-color) !important;
    line-height: var(--line-height);
    font-family: var(--font-family);
    font-family:'MS Sans Serif', 'Geneva', sans-serif;
}


/* ~~~~~~~~~~~~~~ NAV ~~~~~~~~~~~~~~ */

/* hide Skip To Main Content by default */
a.skip {
    position: absolute;
    top: -100vh;
}

/* show Skip To Main Content when tabbed onto */
a.skip:focus {
    position: relative;
    top: 0vh;
    /* center */
    display: block;
    margin:auto;
    text-align: center;
    /* style background */
    background-color: rgb(250, 235, 215);
}

nav {
    background-color: var(--header-footer-background-color); 
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li {
    background-color: rgba(255, 255, 255, 0.55);
    padding: 10px 0;
    margin: 4px 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--alternate-font-family);
}

nav a {
    color: var(--contrasting-background-color); /* White text color */
    padding: 10px 20px; /* Padding around the links */
    width: 100%; /* Full-width links for easier tapping */
    text-align: center; /* Center align text */
    animation: slide-in 0.75s ease forwards;
}



nav li:active {
    background-color: var(--body-background-color) !important;
}


/* ~~~~~~~~~~~~~~ HEADER ~~~~~~~~~~~~~~ */

h1, header h2:first-of-type {
    background-color: rgb(58, 92, 63);
    color:aliceblue;
}

header h2:first-of-type {
    text-align: right;
    padding-right: 0.25em;
    padding-bottom: 0.25em;
    font-weight: normal;
}

header h1 a {
    color: white !important;
}

header {
    margin-bottom: 1em;
}

h1 {
    font-size: 2.5em; /* Large font size for visibility */
    color: #333; /* Dark text color */
    text-align: center; /* Center the header text */
    padding: 15px 10px; /* Padding on the sides for better readability */
    line-height: 1.2; /* Increase line height for better spacing */
    font-family: 'Arial', sans-serif; /* Choose a clean, modern font */
}

/* ~~~~~~~~~~~~~~ SUBHEADINGS ~~~~~~~~~~~~~~ */

h2 {
    font-size: var(--h2-font-size);
    font-family: var(--font-family);
}

/* sticky headers */
section h2:first-of-type {
    position: sticky;
    top: 0;
    display:block;
    background-color:rgb(217, 230, 223);
    color:black;
    background-color: rgb(47, 79, 61);
    color:white;
    padding: calc(var(--h2-font-size) * 0.001) 0%;
    text-align: center;
    z-index: 4;
    text-transform: capitalize;
}

/* ~~~~~~~~~~~~~~ SUMMARY ~~~~~~~~~~~~~~ */

#summary {
    margin-bottom: 1em;
}

#summary p {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 0.5em;
    text-indent: 5%;
    font-size: var(--text-font-size);
    color: var(--contrasting-background-color)
}

#summary span {
    font-weight:bold;
}

#summary .athlete {
    cursor:pointer;
    text-decoration: underline;
    text-decoration-color: var(--link-underline-color);
    text-decoration-thickness: calc(var(--text-font-size) * 0.175);
    color:rgb(0, 0, 0);
}

/* ~~~~~~~~~~~~~~ TEAM RESULTS ~~~~~~~~~~~~~~ */


/* sticky table headers */
th {
    position: sticky;
    top: calc(var(--h2-font-size) * var(--line-height) + calc(var(--sticky-header-vert-padding)));
    
    background-color: rgb(100, 100, 100);
    color: rgb(239, 239, 239);
    text-transform:uppercase;
    z-index: 3;
    font-size: var(--h3-font-size);
    font-family: var(--alternate-font-family);
    /* border-top: 2px solid white; */
}

th:first-of-type {
    padding-left: calc(var(--text-font-size) * 0.01);
    overflow: visible;
}

td {
    font-size: var(--text-font-size);
    font-family: var(--font-family);
    vertical-align: middle;
}

td:last-of-type, td:first-of-type {
    text-align: right;
}

td:last-of-type {
    padding-right: calc(var(--text-font-size));
}

td:first-of-type {
    padding-right: calc(var(--text-font-size));
}

td:nth-of-type(2n) {
    padding-left: calc(var(--text-font-size));
}

/* scroll-friendly table */
table {
    overflow-x: auto;
    width:100%;
    background-color: var(--body-background-color);
    border-spacing:0px;
    margin-top: 2vh;
}

/* ~~~~~~~~~~~~~~ INDIVIDUAL RESULTS ~~~~~~~~~~~~~~ */

#individual-results {
    background-color: rgb(47, 79, 61);
}

#sort-options {
    border-radius: 4%;
    cursor:pointer;
}

/* make the border of the athlete name and the icon color = --highlight-color when actively being clicked on */
body #individual-results .athlete h3:active {
    border-color:var(--highlight-color);
    i {
        color: var(--highlight-color);
    }
}

#individual-results i {
    padding: 2%;
    padding-right: 10%;
}


select {
    border-style: solid;
    border-width: 2.5px;
    border-color: black;
    background-color: rgb(232, 232, 232);
    color: rgb(0, 0, 0);
    margin: 1.5% auto;
    text-align: center;
}

select:focus {
    background-color: rgb(213, 213, 213);
    border-color: var(--highlight-color);
}

/* sticky athlete names */
.athlete h3 {
    display:flex;
    position: sticky;
    top: calc(var(--h2-font-size) * var(--line-height));
    font-style: italic;
    cursor:pointer;
    height: 2.5em;
    align-items: center;
    border-width:0.5px;
    border-style:solid;
    z-index: 3;
    text-transform: uppercase;
    font-style: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: var(--h3-font-size);
}

#individual-results {
    display: grid;
}

/* TODO: style the stuff in the athlete dl grid. make font-size there and in table fit to screen width. */

.athlete dl, img {
    display:none;
}


.athlete dl .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-items: center;
    width: 100%;
}

.athlete dd, .athlete dt {
    font-size: 100%;
}

.athlete dl dt {
    grid-row: 1 / 1;
    background-color: var(--body-background-color);
    color: var(--contrasting-background-color);
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(100, 100, 100);
    color: rgb(239, 239, 239);
    font-weight: bold;
    padding-top: 0.25em;
}

.athlete dl dd {
    grid-row: 2 / 2;
    background-color:none;
    border-width: 0.5em;
    border-color: rgb(100, 100, 100);
    border-top-width: 0.25em;
    border-style: solid;
    text-align: center;
}


img {
    width:100%;
}


/* ~~~~~~~~~~~~~~ GALLERY ~~~~~~~~~~~~~~ */

#gallery {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

#gallery h2 {
    grid-column: 1/3;
}

#gallery img {
    display: block;
    align-self: center;
}

/* ~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~ */


footer {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto auto;
    background-color:var(--header-footer-background-color);
    color: var(--contrasting-background-color);
    overflow: auto;
    margin-top: 45px;
    padding-top: 20px;
}

footer p, footer address, footer a {
    color: var(--contrasting-background-color) !important;
}

footer p:first-of-type {
    font-weight: bold;
}

footer p:first-of-type, footer address {
    grid-column: 1 / 1;
    overflow: auto;
    padding-left: 10px;
    padding-right: 2.5px;
}

footer a {
    grid-column: 2 / 2;
    padding-left: 2.5px;
    padding-right: 4px;
}

footer a:first-of-type {
    grid-row: 1 / 1;
}

footer a:last-of-type {
    grid-row: 2 / 2;

}

footer a i {
    margin-left: 6px;
}


/* ~~~~~~~~~~~~~~ GENERAL/MISCELLANEOUS ~~~~~~~~~~~~~~ */

/* alternating row colors */
tr:nth-child(even), #individual-results .athlete:nth-child(even) h3, #individual-results .athlete:nth-child(even) {
    background-color: rgb(245, 245, 220);
    border-color: rgb(245, 245, 220);
}
tr:nth-child(odd), #individual-results .athlete:nth-child(odd) h3, #individual-results .athlete:nth-child(odd) {
    background-color: rgb(197, 221, 197);
    border-color: rgb(197, 221, 197);
}

a {
    text-decoration:underline;
    text-decoration-color: var(--link-underline-color);
    text-decoration-thickness: 0.1em;
}

a:focus {
    text-decoration: underline;
    color: var(--highlight-color) !important;
}

section, #summary {
    margin-bottom: 25px;
}

@media (prefers-reduced-motion: reduce) {
    nav a {
        animation: none;
    }
}